extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sQuiz/_sQuiz.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sConditions/_sConditions.pug
include ../blocks/sFeedBack/_sFeedBack.pug
include ../blocks/sMap/_sMap.pug

block variables
	- let  mainPage= null 
	- let  bg= '01.png'

block title
	- let  title= 'title'
	title= title
block pagecontent
	//-+mob-mnu()
	//-+header()
	+top-nav()
	+headerBlock()
	+sQuiz()
	+sCatalog()
	+sWhat()
	+sVideo()
	+sForm()
	+sConditions()
	+sFeedBack()
	+sMap()
	+footer()