// start .sMap
.sMap {
	&__map{
		height: rem(400);
		margin: 0 30px;
		@include media-breakpoint-up(sm){
			height: rem(582);
			margin: 0;
		}
		max-height: 800vh;
		& > ymaps{
			width: 100% !important;
			height: 100% !important;
		}
	}
	&__{}
	&__{}
	&__{}
} // end.sMap